*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: rgb(1, 1, 30);
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo{
  color:rgb(106, 164, 239) ;
  font-size: 3rem;
  font-weight: 400;
}
button{
  background-color:rgb(1, 1, 30) ;
  height: 60px;
  margin-bottom: 0px;
  border-radius: 8px;
  width: 125px;
  border: none;
  font-size: 1.7rem;
  color:rgb(106, 164, 239) ;
}
.logo{
  width: 350px;
  margin-left: 76%;
  margin-top: 15px;
}
.searchbar{
  padding: 10px 0 0 100px;
}
#search_heading{
  font-size: 2.7rem;
  font-weight: 400;
}
input{
  width: 83%;
  height: 58px;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.5rem;
   border: 2px solid rgb(230, 223, 223);
}
input::placeholder{
  color: rgb(230, 223, 223);
}
.trending{
  margin-top: 80px;
  margin-left: 30px;
}
.movie_heading{
  font-weight:bolder;
  font-size: 3rem;
}
#movies{
  padding: 30px 0 0 120px ;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.movie{
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  border-radius: 3px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  overflow: hidden;
  position: relative;

}

.movie img{
width: 100%;
 
}

.movie-info{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  color: #080808;
  letter-spacing: 0.5px;
  align-items: center;
}

.movie-info h3{
  margin: 0;
}

.movie-info span{
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green{
  color: rgb(248, 253, 248);
}
a{
  text-decoration: none;
  color:rgb(106, 164, 239) ;
}
.box1{
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
}
#image img{
  width: 400px;
  height: 600px;
}
#description{
  width: 50% ;
}
#title{
  font-size: 3rem;
}
#overview h3{
  font-size: 2rem;
  margin: 40px 0 20px;
}
#overview p{
  font-size: 1.5rem;
}
.related{
  margin: 60px;
}
.related h2{
  font-size: 2rem;
  font-weight: bold;
}
#box2{
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  margin-top: 30px;
  flex-wrap: wrap;
}
.movie:hover{
  width: 270px;
}
footer{
  margin: 40px 680px;
  font-size:2rem;
}
